hades_metadata_version: main
allow_none_par: false
build_file_dbs: true
check_log_files: true
multiprocess: false
mutliprocess_mode: max_usage
max_processes: 1

paths:

  workflow: $_/workflow

  metadata: $_/inputs
  config: $_/inputs/dataprod/config
  par_overwrite: $_/inputs/dataprod/overrides
  detector_db: $_/inputs/hardware/detectors

  tier: $_/generated/tier
  tier_daq: $_/daq
  tier_raw: $_/generated/tier/raw
  tier_dsp: $_/generated/tier/dsp
  tier_hit: $_/generated/tier/hit

  par: $_/generated/par
  par_raw: $_/generated/par/raw
  par_dsp: $_/generated/par/dsp
  par_hit: $_/generated/par/hit

  plt: $_/generated/plt
  log: $_/generated/log

  tmp_plt: $_/generated/tmp/plt
  tmp_log: $_/generated/tmp/log
  tmp_filelists: $_/generated/tmp/filelists
  tmp_par: $_/generated/tmp/par

  src: $_/software/python/src
  install: $_/.snakemake/legend-dataflow/venv

table_format:
  raw: raw
  hit: hit
  dsp: dsp

execenv:
  bare:
    env:
      PRODENV: $PRODENV
      NUMBA_CACHE_DIR: $_/.snakemake/legend-dataflow/venv/cache
      LGDO_BOUNDSCHECK: "false"
      DSPEED_BOUNDSCHECK: "false"
      PYGAMA_PARALLEL: "false"
      PYGAMA_FASTMATH: "false"
      TQDM_DISABLE: "true"

  lngs:
    cmd: apptainer exec
    arg: /data2/public/prodenv/containers/legendexp_legend-base_latest_20241110203225.sif
    env:
      PRODENV: $PRODENV
      NUMBA_CACHE_DIR: $_/.snakemake/legend-dataflow/venv/cache
      LGDO_BOUNDSCHECK: "false"
      DSPEED_BOUNDSCHECK: "false"
      PYGAMA_PARALLEL: "false"
      PYGAMA_FASTMATH: "false"
      TQDM_DISABLE: "true"

  nersc:
    cmd: shifter
    arg: --image legendexp/legend-base:latest
    env:
      PRODENV: $PRODENV
      NUMBA_CACHE_DIR: $_/.snakemake/legend-dataflow/venv/cache
      HDF5_USE_FILE_LOCKING: "false"
      LGDO_BOUNDSCHECK: "false"
      DSPEED_BOUNDSCHECK: "false"
      PYGAMA_PARALLEL: "false"
      PYGAMA_FASTMATH: "false"
      TQDM_DISABLE: "true"
